@{
    ViewBag.Title = "Home Page";
}
<div class="group_bannner_right">
    <img src="~/Images/picture.png" width="550" height="316" alt="baner">
</div>

<header class="group_bannner_left">
    <hgroup>
        <h1>Simple.Think. </h1>
        <h2>
            “The little things are infinitely the most important.“
        </h2>
    </hgroup>
</header>

<!--start holder-->

<div class="holder_content">

    <section class="group1">
        <h3>About us</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec molestie. Sed aliquam sem ut arcu. Phasellus sollicitudin.
            Vestibulum condimentum  facilisis nulla. In hac habitasse platea dictumst. Nulla nonummy. Cras quis libero.
        </p>
        <a href=""><span class="read_more">Read more...</span></a>

    </section>



    <section class="group2">
        <h3>Services</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec molestie. Sed aliquam sem ut arcu. Phasellus sollicitudin.
            Vestibulum condimentum  facilisis nulla. In hac habitasse platea dictumst. Nulla nonummy. Cras quis libero.
        </p>
        <a href=""><span class="read_more">Read more ...</span></a>

    </section>



    <section class="group3">
        <h3>News</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec molestie. Sed aliquam sem ut arcu. Phasellus sollicitudin.
            Vestibulum condimentum  facilisis nulla. In hac habitasse platea dictumst. Nulla nonummy. Cras quis libero.
        </p>
        <a href=""><span class="read_more">Read more...</span></a>

    </section>


</div>
<!--end holder-->